{% extends 'music_admin/base.html' %}


{% block title %} Admin - Add scale {% endblock %}


{% block content %}

<div class="m-3">

    <h1 align="center" style="font-weight: bold;">ADD SCALE</h1>
    <div class="mt-1" style="height: 2px; background-color: #EAEFF5"></div>

<form class="mt-3" action="#" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary mt-3" type="submit">ADD</button>
      </div>
</form>

</div>

{% endblock %}