{% extends 'base/base.html' %}

{% block title %} TheMusicianTheory - Scales {% endblock %}

{% block content %}


<div>
    <div class="m-3">
        <form class="" action="" method="post">

            {% csrf_token %}

            <div class="">

                <div class="">
                    <input name="search" class="form-control" type="text" placeholder="Search for scales" >
                </div>

                <div align="center" class="m-3">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </div>

        </form>
    </div>
    {% if data %}
        {% if search %}
            <div align="center" class="m-3">
                <h2>Search result for "{{ search }}"</h2>
            </div>
        {% endif %}
        {% for item in data %}
            <a href={% url 'base:show_result' id=item.id %}>
                <div class="card text-white bg-dark m-3" style="max-width: 100rem;">
                    <div class="card-header"><h2>{{ item.name }}</h2></div>
                    <div class="card-body">
                    <h5 class="card-title">{{ item.scale }}</h5>
                    <p class="card-text">{{ item.discription }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}

        <div align="center" class="m-3">
            <h2>No item found!!</h2>
        </div>

    {% endif %}
</div>

{% endblock %}