{% extends 'base/base.html' %}

{% block title %} TheMusicianTheory - Home {% endblock %}

{% block content %}



<div class="container-fluid mt-4">
    <div class="row">
      <div class="col">
        <a href="{% url 'base:show_scales' %}">
            <div class="text-light bg-primary p-4 curved-box">
                <h2>learn scales</h2>
                <p>search and learn all the scales in music.</p>
            </div>
        </a>
      </div>
    </div>
</div>



<script>
    document.getElementById("redirectButton").addEventListener("click", function() {
        window.location.href = "{% url 'base:show_scales' %}";
    });
</script>

{% endblock %}