{% extends 'base/base.html' %}

{% block title %} TheMusicianTheory - Home {% endblock %}

{% block content %}

{% load static %}



<div class="container-fluid mt-4">
    <div class="row">
      <div class="col">
        <a href="{% url 'base:show_scales' %}">
            <div class="text-light bg-primary p-5 curved-box" style="background-image: url('{% static 'base/img/scale-bg.jpg' %}'); background-size: cover; background-position: top;">
                <h1>Learn scales</h1>
                <p>search and learn all the scales in music.</p>
            </div>
        </a>
      </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <a href="{% url 'base:show_scales' %}">
                <div class="text-light bg-primary p-5 curved-box" style="background-image: url('{% static 'base/img/chord-bg.jpg' %}'); background-size: cover; background-position: center;">
                    <h1>Learn chords</h1>
                    <p>search and learn all the chords in music.</p>
                </div>
            </a>
          </div>
      </div>

      <div class="row mt-4">
        <div class="col">
            <a href="{% url 'base:show_scales' %}">
                <div class="text-light bg-primary p-5 curved-box" style="background-image: url('{% static 'base/img/pp-bg.jpeg' %}'); background-size: cover; background-position: center;">
                    <h1>Practice perfect pitch</h1>
                    <p>Practice for improving your pitch identification ability.</p>
                </div>
            </a>
          </div>
      </div>

      <div class="row mt-4">
        <div class="col">
            <a href="{% url 'base:show_scales' %}">
                <div class="text-light bg-primary p-5 curved-box" style="background-image: url('{% static 'base/img/con-bg.png' %}'); background-size: cover; background-position: center;">
                    <h1>Connect with musicians</h1>
                    <p>Connect with other musicians.</p>
                </div>
            </a>
          </div>
      </div>

      </div>

</div>



<script>
    document.getElementById("redirectButton").addEventListener("click", function() {
        window.location.href = "{% url 'base:show_scales' %}";
    });
</script>

{% endblock %}